@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");

#snackbar {
	user-select: none;
	min-width: 250px;
	margin-left: -125px;
	background-color: rgb(250, 245, 216);
	color: rgb(75, 75, 75);
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 45%;
	bottom: 30px;
	-webkit-animation: fadein 0.5s;
	outline: 5px dashed rgb(255, 216, 0);
	box-shadow: 0 0 0 5px rgb(246, 189, 0);
	font-family: "Hind", sans-serif;
	font-size: 2rem;
	line-height: 1em;
}

.snackBarButton {
	padding: 10;
}

@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}
