.bottom-bar {
	position: fixed;
	bottom: 0;
	background: black;
	color: white;
	width: 100%;
	display: flex;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	flex-direction: column;
}

.app-logo {
	font-size: 2rem;
}

.nav-summary {
	display: flex;
	justify-content: space-between;
	background: black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.menu-icon {
	display: flex;
	align-items: center;
	padding: 0 20px;
}

.stop-icon {
	font-size: 2rem;
	padding: 0 15px;
}

.playing-info {
	padding: 0 20px;
	display: flex;
	align-items: center;
}

#menu-options {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0;
	max-height: 0;
	transition: 0.4s linear;
}

.active-options {
	max-height: 500px !important;
}

#menu-options li {
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#menu-options a {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	color: white !important;
}
