@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500;600&display=swap");
.song-card {
	width: 20vw;
	height: 20vw;
	display: inline-block;
	overflow: hidden;
	padding: 15px;
}

.Label {
	height: 100%;
	border-radius: 4px;
}

.song-card:hover .options {
	display: flex;
	justify-content: space-around;
	list-style: none;
}

.options {
	width: 100%;
	position: absolute;
	bottom: 0;
	justify-content: space-around;
	display: none;
}

@media only screen and (max-width: 600px) {
	.song-card {
		width: 40vw;
		height: 40vw;
		padding: 5px;
	}
}

button {
	margin-bottom: 10px;
	font-family: "Baloo Paaji 2", cursive;
	font-weight: 500;
	font-size: large;
	color: white;
	border: 4px rgb(35, 180, 190) solid;
	padding: 10px;
	background-color: rgb(35, 196, 190);
	-webkit-border-radius: 40px/24px;
	-moz-border-radius: 40px/24px;
	border-radius: 40px/24px;
}

button:hover {
	-webkit-filter: saturate(0.8);
	cursor: pointer;
}
